.top-menu{
    background-color: aquamarine;
    min-height: 50px;
}
.menu-bar #menu-row{
    display: block;
    float: right;
}
.menu-bar #menu-row li{
    list-style: none;
    display: inline-block;
    padding-top: 10px;
}
.menu-bar #menu-row li a{
    color: #f30d9b;
    text-decoration: none;
    padding: 18px 20px;
    font-weight: 400;
    align-items: center;
}
.menu-bar #menu-row li a:hover{
    background-color: #f30d9b;
    color: #ffffff;
}